.shimmer {
    display: inline-block;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
    font-size: 40px;
    background: linear-gradient(90deg, #fca5a5, #f472b6, #fca5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
}